{
        "fa": "./testdata/tensor/fa.nii.gz",
        "md": "./testdata/tensor/md.nii.gz",
        "rd": "./testdata/tensor/rd.nii.gz",
        "ad": "./testdata/tensor/ad.nii.gz",
        "afq": "./testdata/afq/classification.mat",
        "tck": "./testdata/tck/track.tck",
        "numnodes": 100,
        "fiberbased": false
}
